@import url('https://fonts.googleapis.com/css2?family=Alexandria&family=Playfair+Display:wght@400&display=swap');

body {
    color: #AAA;
    font-size: 17vw;
    font-family: "Alexandria", sans-serif;
    background-color: #111;
}

table {
    margin: auto;
    padding: auto;
    height: 97.8vh;
    font-weight: bold;
    text-align: center;
}

th {
    width: 12vw;
}