@import url('https://fonts.googleapis.com/css2?family=Alexandria&family=Playfair+Display:wght@400&display=swap');

body {
    color: #AAA;
    font-size: 17vw;
    font-family: "Alexandria", sans-serif;
    background-color: #111;
}

table {
    position: absolute;
    font-weight: bold;
    text-align: center;
    top: auto;
}

th {
    width: 12vw;
}

.clock {
    position: relative;
    width: 100%;
    height: 97vh; /* 可視視口高度 */
    display: flex;
    justify-content: center;
    align-items: center;

    color: #AAA; /* This line is for JS */
}

.onstrt {
    position: absolute;
    top: 10%;
    left: 50%; /*center*/
    transform: translate(-50%, 0%); /*center*/
    width: 55vw;
    padding: 2vw;

    text-align: center;

    animation-name: onstrt;
    animation-duration: 2.5s;
    animation-iteration-count: 1;

    pointer-events: none;
}

@keyframes onstrt {
    0%{
        top: 0%;
        opacity: 1;
    }
    10%{
        top: 10%;
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.manual {
    position: absolute;
    bottom: 10%;
    left: 50%; /*center*/
    transform: translate(-50%, 0%); /* center */
    width: 55vw;
    padding: 2vw;

    pointer-events: none;
}

.overlay
{
    border: #AAA 0.3vw solid;
    border-radius: 1vw;
    background-color: rgba(17, 17, 17, 0.75);
    opacity: 0;

    font-size: 2vw;
}

.buttonLook {
    border: 1px #AAA solid;
    border-radius: 0.5ex;
    padding-left: 0.3ex;
    padding-right: 0.3ex;
    background-color: #282828;
}