@import url('https://fonts.googleapis.com/css2?family=Alexandria&family=Playfair+Display:wght@400&display=swap');

body {
    color: #AAA;
    font-size: 17vw;
    font-family: "Alexandria", sans-serif;
    background-color: #111;
}

table {
    position: absolute;
    font-weight: bold;
    text-align: center;
    top: auto;
    z-index: -1;
}

th {
    width: 12vw;
}

.clock {
    position: relative;
    width: 100%;
    height: 97vh; /* 可視視口高度 */
    display: flex;
    justify-content: center;
    align-items: center;

    color: #AAA; /* This line is for JS */
}

.onstrt {
    position: absolute;
    top: 50%; /*center*/
    left: 50%; /*center*/
    transform: translate(-50%, -50%); /*center*/
    width: 55vw;
    padding: 2vw;
    z-index: 1;

    font-size: 2vw;

    border: #AAA 0.3vw solid;
    border-radius: 1vw;
    background-color: rgba(17, 17, 17, 0.75);
    opacity: 0;
    
    display: flex;
    justify-content: center; /* 將內容水平置中 */
    align-items: center; /* 將內容垂直置中 */

    animation-name: onstrt;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

@keyframes onstrt {
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.manual {
    position: absolute;
    top: 50%; /*center*/
    left: 50%; /*center*/
    transform: translate(-50%, -50%); /*center*/
    width: 55vw;
    padding: 2vw;
    z-index: 1;

    font-size: 2vw;

    border: #AAA 0.3vw solid;
    border-radius: 1vw;
    background-color: rgba(17, 17, 17, 0.75);
    opacity: 0;
    
    display: flex;
    justify-content: center; /* 將內容水平置中 */
    align-items: center; /* 將內容垂直置中 */
}